//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
// $path-image   :   '../img';
// $path-fonts     :  '../fonts';
$bp-small: 500px;
$bp-arrow: 700px;
$font-primary: 'Open Sans',
sans-serif;
$color: #98B296;
$color-bg: #fcfcf4;
$color-dark: darken($color, 10%);
$color-lite: lighten($color, 10%);